#h1contact {
  text-align: center;
  color: #333;
  font-size: 36px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#format-buttons button{
  margin-right: -1px;
  background-color: white;
  color: black;
  margin-top: 5.5px;
  margin-left: 10px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#cuadro {
  background-color: #f2f2f2;
  height: 40px;
  border: 1px solid #ccc;
}


input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

#texto {
  border: 1px solid;
  height: 180px;
}

#send-button {
  background-color: #333;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 515px;
  margin-top: 10px;
}
#send-button:hover {
  background-color: #555;
}