/* Generic Style */

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Cart's styles */

#carrito {
  margin: 50px auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.total {
  margin-top: 20px;
  text-align: right;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button.comprar {
  position: absolute;
  right: 150px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
