#h1ship {
    text-align: center;
    color: #333;
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  #divship {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
  }

  .pship{
    font-family: "Roboto", sans-serif;
  }
 