h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 25px;
  }
#admin-users {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#admin-models {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#admin-documentation {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
}
  
#admin-button-adduser {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 180px;
    width: 100px;

}
#admin-button-deleteuser {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 180px;
    width: 100px;
  }

  #admin-button-addmodel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 180px;
    width: 100px;
  }

  #admin-button-deletemodel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 180px;
    width: 100px;
  }
  #admin-button:hover {
    background-color: #555;
  }
  #left_div {
    display: inline-block;
    width: 50%;
    margin-top:100;
  }
  #right_div {
    display: inline-block;
    width: 50%;
  }
  #divg {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
  }
  #javadoc-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 180px;
    width: 125px;
  }
  #title {
    font-size: 70px;
    text-decoration-style: bold;
  }

  #admin-button-exit {
    margin-right: 10px;
  }
  

