h1 {
  text-align: center;
  color: #333;
}
#creditCard-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}
#credit-button {
  background-color: #333;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 404px;
  margin-top: 10px;
}
#credit-button:hover {
  background-color: #555;
}
